[class*="am-icon-"]:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.am-text-lg {
    color: white;
}

.am-nav-justify>li>a {
    margin-bottom: -8px;
}

#demo18 {
    width: 100%;
}

#demo18 .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

#demo18 .swiper-slide {
    height: 240px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
    margin-bottom: -50px;
    z-index: 2;
    position: relative;
}

.swiper-container {
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

#slide-bottom:after {
    content: '';
    position: absolute;
    top: 72px;
    left: 50%;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    z-index: 5;
    transform: rotate(45deg);
    border: 1px solid #fe3535;
    border-left: none;
    border-top: none;
    background-color: #ffffff;
}

header div img {
    height: 30px;
    width: 30px;
}

main .nav {
    height: 50px;
}

.am-menu-offcanvas1 .am-menu-toggle {
    top: 0px;
    left: 0;
    line-height: 30px;
}

.am-menu-offcanvas1 .am-menu-toggle img {
    height: 30px;
    width: 30px;
}

.am-titlebar-cols .am-titlebar-nav a:hover {
    color: #3c3c3c;
    border-bottom-color: #0e90d2;
}

.am-titlebar-cols,
.am-titlebar-cols .am-titlebar-nav {
    width: 100%;
    height: 100%;
}

.am-titlebar-nav {
    display: flex;
    justify-content: space-around;
}

.am-list-item-thumb-left {
    vertical-align: middle;
}

#sectionFir .am-u-sm-12 {
    width: 60px;
}

#sectionSec .am-u-sm-4 img,
#sectionThi .buttonsilder img {
    border-radius: 50%;
}

#sectionSec ul li,
#sectionThi ul li {
    display: flex;
    justify-content: space-around;
}

#sectionThi .am-u-sm-4 img {
    width: 70px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 5px;
}

.am-menu-offcanvas1 .am-menu-nav>.am-parent>a {
    background-color: gray;
}

.am-offcanvas-bar {
    background-image: -webkit-linear-gradient(90deg, #7fb2fa 0%, #92c1fd 100%);
    background-image: -moz-linear-gradient(90deg, #7fb2fa 0%, #92c1fd 100%);
    background-image: -o-linear-gradient(90deg, #7fb2fa 0%, #92c1fd 100%);
    background-image: linear-gradient(90deg, #7fb2fa 0%, #92c1fd 100%);
}

#sectionThi .buttonsilder img {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
}

.menav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: -15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 2px gray;
}

.am-menu-stack .am-menu-nav {
    box-shadow: 0 2px 2px gray;
}

.menav div {
    width: 20%;
    border-radius: 5%;
    text-align: center;
}

.meheader {
    color: #ffffff;
    padding: 15px;
    background-color: #7fb2fa;
    background-image: -webkit-linear-gradient(90deg, #7fb2fa 0%, #92c1fd 100%);
    background-image: -moz-linear-gradient(90deg, #7fb2fa 0%, #92c1fd 100%);
    background-image: -o-linear-gradient(90deg, #7fb2fa 0%, #92c1fd 100%);
    background-image: linear-gradient(90deg, #7fb2fa 0%, #92c1fd 100%);
}

.meheader .am-fl {
    margin-left: 15px;
}

.meheader .am-fl:nth-child(1) p {
    text-align: center;
}

.meheader img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.menav div span {
    display: inline-block;
    font-size: 13px;
}

.menav div img {
    height: 50%;
    width: 50%;
}

footer {
    background-color: #ffffff;
}

footer ul {
    margin: 0;
}

footer li {
    text-align: center;
}

footer a,
footer img {
    width: 100%;
}

footer ul li span {
    display: inline-block;
    margin-left: -5px;
    height: 10%;
    font-size: 13px;
    position: relative;
    bottom: 5px;
}

#slide-bottom {
    width: 100%;
    clear: both;
    height: 80px;
    display: none;
    margin-bottom: 20px;
    padding-top: 10px;
    border: 1px solid #fe3535;
    border-radius: 4px;
}

#slide-bottom ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#slide-bottom ul li {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

#slide-bottom ul li div:nth-child(1) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#slide-bottom ul li div:nth-child(2) {
    font-size: 14px;
    color: #fe3535;
}

#slide-bottom ul li:nth-child(1) div:nth-child(1) {
    background: url('./img/text.png') center no-repeat;
}

#slide-bottom ul li:nth-child(2) div:nth-child(1) {
    background: url('./img/camera.png') center no-repeat;
}

#slide-bottom ul li:nth-child(3) div:nth-child(1) {
    background: url('./img/photo.png') center no-repeat;
}

#slide-bottom ul li:nth-child(4) div:nth-child(1) {
    background: url('./img/phone.png') center no-repeat;
}