[class*="am-icon-"]:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.am-text-lg {
    color: white;
    font-weight: bold;
}

.am-nav-justify>li>a {
    margin-bottom: -5px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 54px;
    border-bottom: 2px solid gray;
    padding: 10px;
    background-color: #ff2d2d;
}

header div img {
    height: 30px;
    width: 30px;
}

main .nav {
    height: 50px;
}

.am-menu-offcanvas1 .am-menu-toggle {
    top: -8px;
    left: 0;
}

.am-menu-offcanvas1 .am-menu-toggle img {
    height: 30px;
    width: 30px;
}

.am-titlebar-cols .am-titlebar-nav a:hover {
    color: #3c3c3c;
    border-bottom-color: #0e90d2;
}

.am-titlebar-cols,
.am-titlebar-cols .am-titlebar-nav {
    width: 100%;
    height: 100%;
}

.am-titlebar-nav {
    display: flex;
    justify-content: space-around;
}

.am-list-item-thumb-left {
    vertical-align: middle;
}

#sectionFir .am-list-news-default .am-list .am-list-thumb img,
#sectionSec .am-u-sm-4 img {
    width: 60px;
    height: 60px;
    border: 1px solid gray;
}

#sectionFir .am-u-sm-12 {
    width: 60px;
}

#sectionSec .am-u-sm-4 img,
#sectionThi .buttonsilder img {
    border-radius: 50%;
}

#sectionSec ul li,
#sectionThi ul li {
    display: flex;
    justify-content: space-around;
}

#sectionThi .am-u-sm-4 img {
    width: 70px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 2%;
}

#sectionThi .buttonsilder img {
    width: 70px;
    height: 70px;
    border: 1px solid gray;
}

.am-list-news-default .am-list>li {
    border-color: #ff5151;
}

.menav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: -10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.menav div {
    width: 20%;
    border-radius: 5%;
    text-align: center;
}

.meheader {
    padding: 15px;
}

.meheader .am-fl {
    margin-left: 15px;
}

.meheader .am-fl:nth-child(1) p {
    text-align: center;
}

.meheader img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid gray;
}

.menav div span {
    display: inline-block;
    font-size: 13px;
}

.menav div img {
    height: 50%;
    width: 50%;
}

footer {
    border-top: 2px solid gray;
    background-color: aliceblue;
    max-height: 60px;
    overflow: hidden;
}

footer li {
    text-align: center;
}

footer a,
footer img {
    width: 90%;
    height: 90%;
}

footer ul li span {
    display: inline-block;
    margin-left: -5px;
    height: 10%;
    font-size: 13px;
    position: relative;
    bottom: 0;
}

footer ul li:nth-child(3) a,
footer ul li:nth-child(3) a img {
    width: 100%;
    height: 100%;
}