<ul class="am-nav am-nav-pills am-nav-justify">
    <li>
        <a href="home.html" name="home">
            <img src="http://p7ik6bm59.bkt.clouddn.com/home.png">

        </a>
        <span>首页</span>
        <br/>
    </li>
    <li>
        <a href="music.html" name="music">
            <img src="http://p7ik6bm59.bkt.clouddn.com/phone.png">
        </a>
        <span>相约</span>
    </li>
    <li>
        <a href="#">
            <img src="http://p7ik6bm59.bkt.clouddn.com/add1.png">
        </a>

    </li>
    <li>
        <a href="shop.html" name="shop">
            <img src="http://p7ik6bm59.bkt.clouddn.com/shop.png">
        </a>
        <span>
                        购物
                    </span>
    </li>
    <li>
        <a href="me.html">
            <img src="http://p7ik6bm59.bkt.clouddn.com/me.png">
        </a>
        <span>
                        我的
                    </span>
    </li>
</ul>