<div class="im-fl">
    <nav data-am-widget="menu" class="am-menu  am-menu-offcanvas1" data-am-menu-offcanvas>
        <a href="javascript: void(0)" class="am-menu-toggle">
            <img src="http://p7ik6bm59.bkt.clouddn.com/whiteslider.png" />
        </a>

        <div class="am-offcanvas">
            <div class="am-offcanvas-bar">

                <ul class="am-menu-nav am-avg-sm-1">
                    <li class="am-parent">
                        <a href="##" class="">公司</a>
                        <ul class="am-menu-sub am-collapse  am-avg-sm-2 ">
                            <li class="">
                                <a href="##" class="">公司</a>
                            </li>
                            <li class="">
                                <a href="##" class="">人物</a>
                            </li>
                            <li class="">
                                <a href="##" class="">趋势</a>
                            </li>
                            <li class="">
                                <a href="##" class="">投融资</a>
                            </li>
                            <li class="">
                                <a href="##" class="">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##" class="">创业人物</a>
                            </li>
                            <li class="am-menu-nav-channel">
                                <a href="##" class="" title="公司">进入栏目 &raquo;</a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-parent">
                        <a href="##" class="">人物</a>
                        <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                            <li class="">
                                <a href="##" class="">公司</a>
                            </li>
                            <li class="">
                                <a href="##" class="">人物</a>
                            </li>
                            <li class="">
                                <a href="##" class="">趋势</a>
                            </li>
                            <li class="">
                                <a href="##" class="">投融资</a>
                            </li>
                            <li class="">
                                <a href="##" class="">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##" class="">创业人物</a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-parent">
                        <a href="#c3" class="">趋势</a>
                        <ul class="am-menu-sub am-collapse  am-avg-sm-4 ">
                            <li class="">
                                <a href="##" class="">公司</a>
                            </li>
                            <li class="">
                                <a href="##" class="">人物</a>
                            </li>
                            <li class="">
                                <a href="##" class="">趋势</a>
                            </li>
                            <li class="">
                                <a href="##" class="">投融资</a>
                            </li>
                            <li class="">
                                <a href="##" class="">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##" class="">创业人物</a>
                            </li>
                            <li class="am-menu-nav-channel">
                                <a href="#c3" class="" title="趋势">泥煤 &raquo;</a>
                            </li>
                        </ul>
                    </li>
                    <li class="am-parent">
                        <a href="##" class="">投融资</a>
                        <ul class="am-menu-sub am-collapse  am-avg-sm-3 ">
                            <li class="">
                                <a href="##" class="">公司</a>
                            </li>
                            <li class="">
                                <a href="##" class="">人物</a>
                            </li>
                            <li class="">
                                <a href="##" class="">趋势</a>
                            </li>
                            <li class="">
                                <a href="##" class="">投融资</a>
                            </li>
                            <li class="">
                                <a href="##" class="">创业公司</a>
                            </li>
                            <li class="">
                                <a href="##" class="">创业人物</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="##" class="">创业公司</a>
                    </li>
                    <li class="">
                        <a href="##" class="">创业人物</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</div>
<div class="am-text-lg">
    <p>忆乡人</p>
</div>
<div class="im-fr">
    <img src="http://p7ik6bm59.bkt.clouddn.com/whitesearch.png">
</div>